// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.content-info {
	/*position: absolute;
	min-width: 450px;
	right: 20px;
	top: 70px;*/
	position: relative;
	padding: 15px 15px 0 15px;
}

.app-version{
	color: #535353;
	bottom: 5px;
	position: absolute;
	left: 5px;
}

.register-box-body,
.login-box-body{
	border-radius: 10px;
	padding: 20px 30px;
	box-shadow: 1px 1px #c0c0c0;
}

.register-box-msg,
.login-box-msg{
	border-bottom: 1px dotted #e1e1e1;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

.login-box-links{
	text-align: center;
	padding-top: 20px;
}

.nowrap {
	white-space: nowrap;
}

.jumbotron {
	background-color: white;
	padding: 3%;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #eaeaea;

	.jumbotron-text{
		color: grey;
	}
}

.btns-opciones {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #efefef;
	padding: 7px;
}

.btns-nuevo-texto {
	position: absolute;
	top: 25px;
	right: 15px;
}

.pagination{
	margin: 0px 15px 15px 15px;
}

thead h3{
	margin-top: 10px;
}

tbody{
	border: 1px solid #dedede;
}

.btns-padre{
	position: relative;	
	width: 100%;
}

.email-btns {
	text-align: center;
	a {
		margin: 10px;
		width: 300px;	
	}
}

.galeria_item a:hover {
	cursor: pointer !important;
} 

.nav-tabs-custom {
	box-shadow: none;

	li{
		border: 1px solid #e4e4e4 !important;
		background-color: #f5f5f5;
		border-radius: 4px; 
		margin-top: 10px;

		&:hover{
			background-color: #e7e7e7 !important;
			a {
				color: black !important;
			}
		}

	}

	.new {
		border-style: dashed !important;
		background-color: transparent !important;
	}

	.nav-tabs {
		padding-bottom: 10px;
		border: none;

	}

	.tab-content{
		border-bottom: 1px solid #efefef;
	}
}
	

.image_container {
	float: left;
	margin: 5px 10px 5px 0px;
	width: 155px;
	height: 155px;
	border: 1px solid #e4e4e4;
}
.new_image{
	@extend .image_container;
	text-align: center;
	border-style: dashed !important;
	background-color: transparent !important;
	border-radius: 4px; 


	a {	
		float: left;
		padding: 52px 62px;
		vertical-align: middle;
		color: grey !important;
		font-size: 35px;
	}
}

.after-box {
	clear: left;
}
